/* Card Navbar */
.card_navbar {
	background-color: #f5f1ee;
	height: 6%;
	width: 100%;
}

.card_navbar_row {
	width: 100%;
	padding: 0 15px;
	text-align: center;
}

.btn_go_back {
	font-size: 18px;
	cursor: pointer;
}

.btn_go_back > .fa-arrow-left {
	margin-right: 10px;
}

.btn_remove_chat {
	font-size: 18px;
	cursor: pointer;
}

.card_title {
	font-size: 18px;
	font-weight: 600;
}

.detail_card_buttons {
}

.detail_card_buttons {

}

.detail_card_buttons button {
	outline: 0 !important;
	border-radius: 50%;
	background: #FFFFFF;
	display: inline-block;
	border: 0;
	margin-left: 5px;
}
