.data_detail {
	height: 100%;
	width: 100;
}

.data_content {
	height: 94%;
	padding: 0 15px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

div > .data_detail {
	font-size: 14px;
	font-weight: 400;
}

.detail_img {
	object-fit: cover;
	width: 100%;
	height: 30%;
}

.info_container {
	margin: 20px 0;
}

.detail_name {
	font-size: 26px;
	font-weight: 600;
}

.detail_username {
	font-size: 20px;
}

.info_title {
	font-size: 26px;
	font-weight: 600;
}

