.data_detail {
	height: 100vh;
	border: 1px solid lightgrey;
	width: 100;
	background-color: white;
}

.data_content {
	height: calc(100% - 43px);
	padding: 0 15px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Cabin', sans-serif;
}

div > .data_detail {
	font-size: 14px;
	font-weight: 400;
}

.detail_img {
	object-fit: cover;
	width: 100%;
	height: 30%;
}

.info_container {
	margin: 20px 0;
}

.detail_name {
	font-size: 26px;
	font-weight: 600;
	font-family: 'Lobster', cursive;
}

.detail_username {
	font-size: 20px;
	font-family: 'Cabin', sans-serif;
}

.info_title {
	font-size: 26px;
	font-weight: 600;
	font-family: 'Cabin', sans-serif;
}

.info_description {
	font-size: 15px;
}
