/* Chat Item */
.chat_item {
	background-color: red;
	width: 100%;
	height: 72px;
}

.chat_item_img {
	height: 49px;
	width: 49px;
}


.chat_item_new {

}

.chat_item_container {
	width: 100%;
}

.posi {
	display: inline-block;
}

