/* Chat List */
.chat_list {
	width: 100%;
	padding: 0 !important;
	margin-bottom: 0;
	height: calc(100% - 128px);
	overflow-y: scroll;
	overflow-x: hidden;
}

li {
    list-style-type: none;
}

.chat_list_open {
	height: calc(100% - 300px);
}

.chat_list_password_mode {
	height: calc(100% - 68px);
}

.chat_list_open.chat_list_password_mode {
	height: calc(100% - 240px);
}
