/* Chat Page */
.chats {
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
}

.chat-content {
	background-color: #3E606F;
	height: calc(100% - 43px - 59px);
	box-sizing: border-box;
	padding: 10px 20px;
	overflow-y: scroll;
	width: 100%;
}

.chat_form {
	background-color: #f5f1ee;
	height: 59px;
	width: 100%;
	padding: 15px 10px;
}

.chat_form > input[type="text"] {
	background: white;
	outline: 0;
	border: none;
	padding: 0 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: 10px;
	height: 100%;
	width: 85%;
	box-sizing: border-box;
	font-size: 14px;
}

.chat_form > input[type="submit"] {
	color: #FCFFF5;
	background: #3E606F;
	border: none;
	height: 100%;
	width: 10%;
	font-size: 1vw;
	box-sizing: border-box;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

ul{
	padding-left: 0px;
}

.chat_buble {
	background-color: #FCFFF5;
	color: #3E606F;
	border-radius: 15px;
	padding: 5px 20px;
	font-size: 10px;
}
