/* Enter Page */
.enter_content {
	color: #193441;
	height: 100%;
	width: 100%;
}

.enter_side {
	width: 100%;
	height: 100%;
	background-color: #D1DBBD;
}

.image_side {
	height: 100%;
	background-color: #91AA9D;
}

.enter_title {
	font-size: 50px;
	margin-bottom: 20px;
	font-family: 'Lobster', cursive;
}

.enter_policy {
	text-align: center;
	margin-top: 10px;
	font-size:10px;
}

.image_row {
	height: 100%;
}

.image_row > img {
	height: 418px;
	width: 517px;
}

.enter_image_title {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 50px;
	font-family: 'Lobster', cursive;
	margin-bottom: 20px;
}
