/* Enter Page */
.enter_content {
	color: #193441;
	height: 100%;
	width: 100%;
}

.enter_side {
	width: 100%;
	height: 100%;
	background-color: #D1DBBD;
}

.image_side {
	height: 100%;
	background-color: #91AA9D;
}

.enter_github {
	border: none;
	border-radius: 5px;
	background-color: #3E606F;
	color: #FCFFF5;
	outline: 0 !important;
	width: 260px;
	height: 43px;
	font-size: 16px;
}

.enter_github > .fa-github {
	font-size: 20px;
	margin-right: 10px;
}


.enter_title {
	font-size: 50px;
	margin-bottom: 20px;
	font-family: 'Lobster', cursive;
}

.enter_policy {
	text-align: center;
	margin-top: 10px;
	font-size:10px;
}

.image_row {
	height: 100%;
}

.image_row > img {
	height: 418px;
	width: 517px;
}
