/* Home Navbar */
.home_navbar {
	background-color: #FCFFF5;
	border-bottom: 1px solid lightgrey;
	height: 43px;
	width: 100%;
	font-family: 'Lobster', cursive;
}

.home_navbar_row {
	width: 100%;
	padding: 0 0 0 15px;
	text-align: center;
}

.home_navbar_title {
	font-size: 18px;
	font-weight: 600;
}

.switch_label {
	font-size: 14px;
	font-weight: 600;
	margin-right: 10px;
}

/* Toggle */
.toggle-switch---switch---3EchW.toggle-switch---checked---3aC9B .toggle-switch---toggle---mncCu {
	background-color: #3E606F !important;
	border-color: #3E606F !important;
}
