/* Looking Card */
.looking_card_img {
	height: 150px !important;
	width: 150px !important;
	margin-top: 50px;
	position: relative;
	z-index: 2;
}

.looking_card_title {
	margin-top: 50px;
	text-align: center;
	font-size: 15px;
}

.spinner {
	display: inline;
}

.spinner > div {
	left: 100px;
	z-index: 1;
	position: absolute !important;
	width: 200px;
	height: 200px;
}

.spinner > div > div {
	margin-top: 25px;
	width: 200px;
	height: 200px;
}
